/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Kanit:wght@500&family=Montserrat:wght@500&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* TOP NAVIGATION */

* { 

    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 

}

li, a { 

    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: ghostwhite; 
    text-decoration: none; 

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo { 

    height: 60px;

}

.nav_links {

    list-style: none;

}

.nav_links li {

    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {

    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {

    color: gray;
    text-decoration: none;
    cursor: pointer;

}

/* FOR ID LINK TAGS */

.section {

  scroll-margin-top: 4em;

}

/* BODY STYLES */

body {

    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-size-adjust: auto;
    text-align: center;
  
  }

  /* HEADER 1 STYLES */

  h1 { 

    font-size: 3em;
    text-align: center;
    color: dimgray;
    font-family: 'Andada Pro', serif;

  }

  /* HEADER 2 STYLES */

  h2 {
      font-size: 1.5em;
      text-align: center;
      color: darkgray;
      font-family: 'Andada Pro', serif;
  }

  /* WORKS STYLES */

  .work {

    background: whitesmoke;
    padding-bottom: 10px;
    padding: 60px 0 60px;

  }

  /* WORKS GALLERY FLEX BOX */

 .gallery {

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background: whitesmoke;
    margin: 50 50 50 50;
    
  }

  .gallery img {

    margin: 10px;
    border: 3px solid dimgray;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    transition: 1s;
    max-height: auto;

  }

/* HOVER OVER IMAGE BUT NEED JAVASCRIPT FOR POPUP */

  .gallery img:hover {

      transform: scale(1.1);
      
  }

/* ABOUT STYLES */

.about {

    display: flex;
    justify-content: center;
    padding: 60px 0 60px;
    margin: auto 50px;
    
}

.aboutcontent{

    border: 2px solid dimgray;
    border-radius: 20px;
    padding: 60px 60px;
    background: whitesmoke;

}


/* FORM STYLES */

.contactform {

    padding-bottom: 10px;
    padding: 60px 0 60px;
    background: url(../images/center-logo.png) no-repeat 
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.form {

	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #696969;

}

.form ul {

	padding:0;
	margin:0;
	list-style:none;

}

.form ul li {

	display: block;
	margin-bottom: 10px;
	min-height: 35px;

}

.form ul li  .field-style {

	box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid dimgray;
    border-radius: 10px;

}

.form ul li  .field-style:focus {

	box-shadow: 0 0 5px gray;
	border:1px solid gray;

}

.form ul li .field-split {

	width: 49%;

}

.form ul li .field-full {

	width: 100%;

}

.form ul li input.align-left {

	float:left;

}

.form ul li input.align-right {

	float:right;

}

.form ul li textarea {

	width: 100%;
	height: 100px;

}

.form ul li input[type="button"],
.form ul li input[type="reset"], 
.form ul li input[type="submit"] {
    
    box-shadow: inset 0px 1px 0px 0px gray;
	background-color: black;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px 'Kanit', sans-serif;
    border-radius: 10px;

}

.form ul li input[type="button"]:hover, 
.form ul li input[type="reset"]:hover,
.form ul li input[type="submit"]:hover {

	background-color: dimgray;

}

/* FOOTER STYLES */


footer {

    padding: 10px 10%;
    background-color: black;
    z-index: 100;
    color: whitesmoke;

}