/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* BODY STYLES */

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-size-adjust: auto;
    text-align: center;
  }

/* TOP NAV */

.header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: black;
    color: gray
  }
  
.logoimg {
    max-width: 300px;
  }

.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    max-width: 300px;
  }
  
  /* HAMBURGER STYLE MENU */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* MENU ICON */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: whitesmoke;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* MEDIA QUERY MORE THAN 768px */
  
  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

/* FOR ID LINK TAGS */

.section {
    scroll-margin-top: 4em;
}

/* CAROUSEL */

.carouselarea {
    padding-top: 80px;
  }

  /* HEADER 1 STYLES */

  h1 { 
    font-size: 3em;
    text-align: center;
    color: dimgray;
    font-family: 'Andada Pro', serif;
  }

  /* HEADER 2 STYLES */

  h2 {
      font-size: 1.5em;
      text-align: center;
      color: darkgray;
      font-family: 'Andada Pro', serif;
  }

  /* WORKS STYLES */

  .work {
    background: whitesmoke;
    padding-bottom: 10px;
    padding: 60px 0 60px;
  }

  /* WORKS GALLERY FLEX BOX */

 .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background: whitesmoke;
    margin: 50 50 50 50;
  }

  .gallery img {
    margin: 10px;
    border: 3px solid dimgray;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    transition: 1s;
    max-height: auto;
  }

/* HOVER OVER IMAGE BUT NEED JAVASCRIPT FOR POPUP */

  .gallery img:hover {
      transform: scale(1.1);
  }

/* ABOUT STYLES */

.about {
    display: flex;
    justify-content: center;
    padding: 60px 0 60px;
    margin: auto 50px;   
}

.aboutcontent{
    border: 2px solid dimgray;
    border-radius: 20px;
    padding: 60px 60px;
    background: whitesmoke;
}


/* FORM STYLES */

.contactform {
    padding-bottom: 10px;
    padding: 60px 0 60px;
    background: url(../images/center-logo.png) no-repeat 
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form {
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #696969;
}

.form ul {
	padding:0;
	margin:0;
	list-style:none;
}

.form ul li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form ul li  .field-style {
	box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid dimgray;
    border-radius: 10px;
}

.form ul li  .field-style:focus {
	box-shadow: 0 0 5px gray;
	border:1px solid gray;
}

.form ul li .field-split {
	width: 49%;
}

.form ul li .field-full {
	width: 100%;
}

.form ul li input.align-left {
	float:left;
}

.form ul li input.align-right {
	float:right;
}

.form ul li textarea {
	width: 100%;
	height: 100px;
}

.form ul li input[type="button"],
.form ul li input[type="reset"], 
.form ul li input[type="submit"] {
    
    box-shadow: inset 0px 1px 0px 0px gray;
	background-color: black;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px 'Kanit', sans-serif;
    border-radius: 10px;

}

.form ul li input[type="button"]:hover, 
.form ul li input[type="reset"]:hover,
.form ul li input[type="submit"]:hover {

	background-color: dimgray;

}

/* FOOTER STYLES */


footer {
    padding: 10px 10%;
    background-color: black;
    z-index: 100;
    color: whitesmoke;
}

/* MEDIA QUERY LESS THAN 500PX */
  
  @media (max-width: 500px) {
    .carouselarea {
        display:none;
    }
    
    .work {
        padding-top: 5em;
    }

  }
 
